doctype html
html(ng-app="sitegate-admin")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
  body
    != message
	!= error.status
	!= error.stack
