doctype html
html(ng-app="sitegate-admin")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
    link(href="/build/bundle.css" rel="stylesheet")
  body
    header.navbar.navbar-static-top.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#") SiteGate
        div(ui-view="header")
    .container
      .ui-view
    script(src="/build/bundle.js")
