doctype html
html(ng-app="sitegate-admin")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title SiteGate Admin
    link(href="/build/bundle.css" rel="stylesheet")
  body
    div(growl)
    header.navbar.navbar-static-top.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#") SiteGate
        ul.nav.navbar-nav
          li
            a(ui-sref="users") Users
          li
            a(ui-sref="clients") Clients
        div(ui-view="header")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/logout") Sign Out
    .container
      .ui-view
    script(src="/build/bundle.js")
